@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend-deca);
  min-width: 1023px;
  overflow-x: hidden;
}
.main-container {
  max-width: 960px;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .main-container {
    max-width: 1080px;
  }
}

@media screen and (min-width: 1600px) {
  .main-container {
    max-width: 1180px;
  }
}

/* SPINNER */

.spinner-loader {
  --color: #155dfc;
  --size: 30px;
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.spinner-loader span {
  width: 100%;
  height: 100%;
  background-color: var(--color);
  animation: keyframes-blink 0.5s alternate infinite linear;
}

.spinner-loader span:nth-child(1) {
  animation-delay: 0ms;
}

.spinner-loader span:nth-child(2) {
  animation-delay: 150ms;
}

.spinner-loader span:nth-child(3) {
  animation-delay: 150ms;
}

.spinner-loader span:nth-child(4) {
  animation-delay: 280ms;
}

@keyframes keyframes-blink {
  0% {
    opacity: 0.5;
    transform: scale(0.5) rotate(20deg);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.sidebar-scroller {
  max-height: calc(100dvh - 122px);
  overflow-y: auto;
  overflow-x: hidden;
  /* Hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar-scroller::-webkit-scrollbar {
  display: none;
}

/* RANGE SLIDER */

.range {
  height: 1px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #155dfc;
  outline: none;
  border-radius: 15px;
}
.range::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #155dfc;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #155dfc;
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

input[type="range"].range:hover::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 8px rgba(0, 38, 255, 0.16);
  border-radius: 50%;
}

input[type="range"].range:hover::-moz-range-thumb {
  box-shadow: 0px 0px 0px 8px rgba(0, 38, 255, 0.16);
}

/* DATE PICKER */

.rdtPicker {
  min-width: 100% !important;
  user-select: none;
}
.rdtPicker td,
.rdtPicker th {
  height: 38px !important;
  vertical-align: middle !important;
}

.rdtPicker .rdtDay {
  position: relative;
  border-radius: 5px;
}
.rdtPicker .rdtDay.has-event::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
  top: 5px;
  right: 5px;
}

.rdtPicker .rdtDay.has-event.past-event::after {
  background-color: #414141;
}
.rdtPicker .rdtDay.has-event.upcoming-event::after {
  background-color: #ff0077;
}
.rdtPicker .rdtDay.rdtActive {
  background-color: #00bc7d !important;
  color: white !important;
}
.rdtPicker .rdtDay.has-event.upcoming-event {
  color: #ff0077;
  background: #ffe4e6;
}
.rdtPicker .rdtDay.has-event.past-event {
  color: #414141;
  background: #f3f4f6;
}
.rdtPicker .rdtToday {
  color: #155dfc !important;
  background: #dbeafe !important;
}
.rdtPicker td.rdtToday:before {
  border-bottom-color: #155dfc !important;
}
.rdtPicker td.rdtDay:not(.rdtToday):not(.rdtActive):not(.has-event):hover {
  background: #e5e7eb !important;
}
/* PAGINATION */

.pagination-element {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.pagination-element a {
  font-size: 1rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}
.pagination-element a.link-boxed {
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
}
.pagination-element a.link-boxed.active {
  background-color: black !important;
  color: white !important;
}
