    <table
      style="
        width: 100%;
        background-color: #eee;
        border-collapse: collapse;
        border: 0;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      "
    >
      <tbody>
        <tr>
          <td>
            <table
              style="
                width: 600px;
                margin: 40px auto;
                border-collapse: collapse;
                border: 0;
              "
            >
              <tbody>
                <tr>
                  <td style="padding: 80px 50px; box-sizing: border-box; background-color: #0e20a5; border-radius: 14px 14px 0 0">
                        <p
                    style="color: white; font-size: 26px; font-weight: bold; margin: 0 0 40px 0; line-height: 1"
                  >
                    Matrimony
                  </p>
                    <p
                      style="color: white; font-size: 80px; font-weight: bold; margin: 0 0 50px 0; line-height: 1"
                    >
                      Reset password
                    </p>

                    <p
                      style="color: white; font-size: 20px; font-weight: medium;margin-bottom:0"
                    >
                      Dear {{name}},
                    </p>
                    <p
                      style="color: white; font-size: 16px; font-weight: normal;margin-bottom:0"
                    >
                      We received a request to reset your password for your
                      Matrimony account.
                    </p>
                    <p
                      style="color: white; font-size: 16px; font-weight: normal;margin-bottom:0"
                    >
                      Please click the link below to create a new password:
                    </p>
                    <p
                    style="color: white; font-size: 16px; font-weight: normal;margin-bottom:0"
                    >
                      <a  style="color: #ffee00; font-size: 16px; font-weight: normal; text-decoration: underline" href="{{resetUrl}}" target="_blank">{{resetUrl}}</a>
                    </p>
                    <p
                      style="color: white; font-size: 14px; font-weight: normal; margin-top: 40px; margin-bottom:0"
                    >
                      <strong>Note:</strong> This link will expire in 1 hour for
                      security reasons.
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 50px; box-sizing: border-box; background-color: #fff; border-radius:0 0 14px 14px">
                    <p  style="color: #222; font-size: 15px; font-weight: normal;margin-bottom:0">
                      If you did not request this change, you can safely ignore
                      this email. Your current password will remain unchanged.
                    </p>
                    <p style="color: black; font-size: 16px; font-weight: normal; line-height: 1.4; margin-top: 20px;margin-bottom:0">Best regards,<br />The Matrimony Team</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>