<p>Dear {{name}},</p>
<p>This is to confirm that your password for your Matrimony account has been successfully <strong>reset</strong>.</p>
<p>You can now log in using your new password and continue your journey to find a life partner.</p>
<p>If you did not perform this action, please contact our support team immediately.</p>
<p>Best regards,<br/>The Matrimony Team</p>
