<table
  style="
    width: 100%;
    background-color: #eee;
    border-collapse: collapse;
    border: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  "
>
  <tbody>
    <tr>
      <td>
        <table
          style="
            width: 600px;
            margin: 40px auto;
            border-collapse: collapse;
            border: 0;
          "
        >
          <tbody>
            <tr>
              <td
                style="
                  padding: 80px 50px;
                  box-sizing: border-box;
                  background-color: #480793;
                  border-radius: 14px 14px 0 0;
                "
              >
                <p
                  style="
                    color: white;
                    font-size: 26px;
                    font-weight: bold;
                    margin: 0 0 40px 0;
                    line-height: 1;
                  "
                >
                  Matrimony
                </p>
                <p
                  style="
                    color: white;
                    font-size: 60px;
                    font-weight: bold;
                    margin: 0 0 50px 0;
                    line-height: 1;
                  "
                >
                  Welcome to Matrimony!
                </p>
                <p
                  style="
                    color: white;
                    font-size: 20px;
                    font-weight: medium;
                    margin-bottom: 0;
                  "
                >
                  Dear {{name}},
                </p>
                <p
                  style="
                    color: white;
                    font-size: 20px;
                    font-weight: medium;
                    margin-bottom: 0;
                    line-height: 1.4;
                  "
                >
                  Your account has been successfully created. You can now
                  log in and start your journey to find your life partner.
                </p>
                <p
                  style="
                    color: white;
                    font-size: 20px;
                    font-weight: medium;
                    margin-bottom: 0;
                    line-height: 1.4;
                  "
                >
                  Start building your profile and find your perfect match.
                </p>
              </td>
            </tr>
            <tr>
              <td
                style="
                  padding: 50px;
                  box-sizing: border-box;
                  background-color: #fff;
                  border-radius: 0 0 14px 14px;
                "
              >
                <p
                  style="
                    color: black;
                    font-size: 20px;
                    font-weight: medium;
                    margin-bottom: 15px;
                    line-height: 1.4;
                  "
                >
                  Here’s what you can do next:
                </p>
                <ul
                  style="
                    padding: 0;
                    margin: 0 0 25px;
                    list-style-type: circle;
                    display: block;
                  "
                >
                  <li
                    style="
                      color: black;
                      font-size: 16px;
                      font-weight: medium;
                      margin-bottom: 0;
                      margin-left: 18px;
                      margin-bottom: 5px;
                    "
                  >
                    Complete your profile to get better matches
                  </li>
                  <li
                    style="
                      color: black;
                      font-size: 16px;
                      font-weight: medium;
                      margin-bottom: 0;
                      margin-left: 18px;
                      margin-bottom: 5px;
                    "
                  >
                    Upload your photo for more visibility
                  </li>
                  <li
                    style="
                      color: black;
                      font-size: 16px;
                      font-weight: medium;
                      margin-bottom: 0;
                      margin-left: 18px;
                    "
                  >
                    Explore profiles and connect with members
                  </li>
                </ul>
                <p
                  style="
                    color: #222;
                    font-size: 15px;
                    font-weight: normal;
                    margin-bottom: 0;
                  "
                >
                  If you did not sign up for this account, please contact
                  our support team immediately.
                </p>
                <p
                  style="
                    color: black;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 1.4;
                    margin-top: 20px;
                    margin-bottom: 0;
                  "
                >
                  Best regards,<br />The Matrimony Team
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

